{var $wfontActive = !empty($_COOKIE[wfont])}
<!DOCTYPE html>
<html lang="en" dir="ltr" n:class="no-js, $wfontActive ? wf-active">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="author" content="AITOM">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">

	<title>{$name}</title>

	{if !$wfontActive}
		<script>
			var docEl = document.documentElement;

			function removeWaitingFont () {
				docEl.className = docEl.className.replace(/(^|\s)wf-loading(\s|$)/g, ' ');
			}

			docEl.className += ' wf-loading';

			setTimeout(function() {
				removeWaitingFont();
			}, 2000);

			WebFontConfig = {
				google: { families: ["Open Sans:300,400,700", "Material Icons"] },
				active: function() {
					removeWaitingFont();
					document.cookie ='wfont=1; expires='+(new Date(new Date().getTime() + 86400000)).toGMTString()+'; path=/'
				}
			};
		</script>
	{/if}

	<script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async defer n:if="!$wfontActive"></script>

	<link rel="{$wfontActive ? stylesheet : prefetch}" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Material+Icons&amp;subset=latin-ext">

	<link rel="stylesheet" href="//code.getmdl.io/1.3.0/material.indigo-light_blue.min.css">

	<link rel="stylesheet" href="{$basePath}dist/style.css">

	<style>
		{include 'assets/style.css'}
	</style>
</head>
<body>
	<script n:syntax="off">
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>

	<div n:block="mdlLayout" class="mdl-layout mdl-js-layout mdl-layout--fixed-tabs">
		{block #mdlContent}{/block}

		{include 'partials/menu.latte'}

		{include 'partials/snackbar.latte'}

		{include 'partials/dialog.latte'}
	</div>

	<script>
		var php = php || [];
		window.lazySizesConfig = window.lazySizesConfig || {};
		window.lazySizesConfig.init = false;
	</script>

	<script src="//code.getmdl.io/1.3.0/material.min.js" async defer></script>

	<script src="{$basePath}dist/script.js"></script>

	<script>
		(function(callback) {
			if (!window.jQuery) {
				var script = document.createElement('script');
				script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js';
				script.onload = function() {
					callback(jQuery)
				};
				document.head.appendChild(script);
			} else {
				callback(jQuery);
			}
		}(function($) {
			{include 'assets/script.js'}
		}));
	</script>
</body>
</html>