{layout '@base.latte'}

{block #mdlLayout}
	<div class="mdl-listing-body">
		<div n:foreach="$components as $component" class="mdl-layout mdl-js-layout mdl-layout--fixed-tabs" id="component-{$component->name}">
			<div n:if="$iterator->first" aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
				<i class="material-icons">more_vert</i>
			</div>

			{if $iterator->first}
				{include 'partials/logo.latte'}
			{/if}

			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<span
						class="mdl-button mdl-js-button mdl-button--icon jq_description"
						style="margin-rignt: 10px"
						n:attr="
							data-title => 'About ' . $component->name,
							data-readme => !empty($component->description) ? $component->description,
							data-package => !empty($component->package) ? $component->package,
							data-version => !empty($component->version) ? $component->version,
							data-dependencies => !empty($component->dependencies) ? json_encode($component->dependencies)
						">
						<i class="material-icons">info</i>
					</span>

					<a n:tag-if="$component->single"
					   href="{$basePath}{$component->single}"
					   class="mdl-component-title">
						<span class="mdl-component-title">{$component->name}</span>
					</a>
				</div>
				<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
					<a href="#preview-{$component->name}" class="mdl-layout__tab is-active">Preview</a>
					<a href="#output-{$component->name}" class="mdl-layout__tab" n:if="!empty($component->content)"><i class="material-icons">code</i> Output</a>
					<a href="#latte-{$component->name}" class="mdl-layout__tab" n:if="!empty($component->latte)" n:syntax="off">{latte}</a>
					<a href="#styles-{$component->name}" class="mdl-layout__tab" n:if="!empty($component->scss)">{ } Styles</a>
					<a href="#javascript-{$component->name}" class="mdl-layout__tab" n:if="!empty($component->js)">( ) Javascript</a>
					<a href="#neon-{$component->name}" class="mdl-layout__tab" n:if="!empty($component->neon)">neon</a>
				</div>
			</header>

			<main class="mdl-layout__content jq_observerRoot">
				<section class="mdl-layout__tab-panel mdl-layout__tab-panel--preview is-active" id="preview-{$component->name}">
					<div n:if="!empty($component->preview)" class="container py-4">
						{$component->preview|noescape}
					</div>
					<div n:if="!empty($component->content)" class="container py-4">
						{$component->content|noescape}
					</div>
				</section>

				<section class="mdl-layout__tab-panel" id="output-{$component->name}" n:if="!empty($component->content)">
					<textarea class="jq_beautify hidden">{$component->content}</textarea>
					<pre><code class="jq_highlight" data-language="html"></code></pre>
				</section>

				<section class="mdl-layout__tab-panel" id="latte-{$component->name}" n:if="!empty($component->latte)">
					<pre><code class="jq_highlight" data-language="html">{$component->latte}</code></pre>
				</section>

				<section class="mdl-layout__tab-panel" id="styles-{$component->name}" n:if="!empty($component->scss)">
					<pre><code class="jq_highlight" data-language="css">{$component->scss}</code></pre>
				</section>

				<section class="mdl-layout__tab-panel" id="javascript-{$component->name}" n:if="!empty($component->js)">
					<pre><code class="jq_highlight" data-language="javascript">{$component->js}</code></pre>
				</section>

				<section class="mdl-layout__tab-panel" id="neon-{$component->name}" n:if="!empty($component->neon)">
					<pre><code class="jq_highlight" data-language="yaml">{$component->neon}</code></pre>
				</section>
			</main>

			{if $iterator->first}
				{include 'partials/menu.latte'}
			{/if}
		</div>

		{include 'partials/snackbar.latte'}

		{include 'partials/dialog.latte'}
	</div>
{/block}