{layout '@base.latte'}

{block #mdlContent}
	<header class="mdl-layout__header">
		<div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
			<i class="material-icons">more_vert</i>
		</div>
		<div class="mdl-layout__header-row">
			<span
				class="mdl-button mdl-js-button mdl-button--icon jq_description"
				style="margin-rignt: 10px"
				n:attr="
					data-title => 'About ' . $name,
					data-readme => !empty($description) ? $description,
					data-package => !empty($package) ? $package,
					data-version => !empty($version) ? $version,
					data-dependencies => !empty($dependencies) ? json_encode($dependencies)
				">
				<i class="material-icons">info</i>
			</span>

			<span class="mdl-component-title">{$name}</span>

			{include 'partials/logo.latte'}
		</div>
		<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
			<a href="#preview-{$name}" class="mdl-layout__tab is-active">Preview</a>
			<a href="#output-{$name}" class="mdl-layout__tab" n:if="!empty($content)"><i class="material-icons">code</i> Output</a>
			<a href="#latte-{$name}" class="mdl-layout__tab" n:if="!empty($latte)" n:syntax="off">{latte}</a>
			<a href="#styles-{$name}" class="mdl-layout__tab" n:if="!empty($scss)">{ } Styles</a>
			<a href="#javascript-{$name}" class="mdl-layout__tab" n:if="!empty($js)">( ) Javascript</a>
			<a href="#neon-{$name}" class="mdl-layout__tab" n:if="!empty($neon)">neon</a>
		</div>
	</header>

	<main class="mdl-layout__content jq_observerRoot">
		<section class="mdl-layout__tab-panel mdl-layout__tab-panel--preview is-active" id="preview-{$name}">
			<div n:if="!empty($preview)" class="container py-4">
				{$preview|noescape}
			</div>
			<div n:if="!empty($content)" class="container py-4">
				{$content|noescape}
			</div>
		</section>

		<section class="mdl-layout__tab-panel" id="output-{$name}" n:if="!empty($content)">
			<textarea class="jq_beautify hidden">{$content}</textarea>
			<pre><code class="jq_highlight" data-language="html"></code></pre>
		</section>

		<section class="mdl-layout__tab-panel" id="latte-{$name}" n:if="!empty($latte)">
			<pre><code class="jq_highlight" data-language="html">{$latte}</code></pre>
		</section>

		<section class="mdl-layout__tab-panel" id="styles-{$name}" n:if="!empty($scss)">
			<pre><code class="jq_highlight" data-language="css">{$scss}</code></pre>
		</section>

		<section class="mdl-layout__tab-panel" id="javascript-{$name}" n:if="!empty($js)">
			<pre><code class="jq_highlight" data-language="javascript">{$js}</code></pre>
		</section>

		<section class="mdl-layout__tab-panel" id="neon-{$name}" n:if="!empty($neon)">
			<pre><code class="jq_highlight" data-language="yaml">{$neon}</code></pre>
		</section>
	</main>
{/block}