{block #mdlDialog}
	<dialog class="mdl-dialog mdl-js-dialog">
		<h4 class="mdl-dialog__title"></h4>
		<div class="mdl-dialog__content"></div>
		<div class="mdl-dialog__actions">
			<button type="button" class="mdl-button close">Cancel</button>
		</div>
	</dialog>
{/block}