{block #mdlMenu}
	<div class="mdl-layout__drawer">
		<div style="padding: 40px 40px 0">
			<p class="mdl-component-title">Menu</p>

			<p n:if="empty($tree)" class="mdl-color-text--grey">The menu is deactivated in development mode.</p>
		</div>

		<nav n:if="!empty($tree)" class="mdl-navigation">
		{foreach $tree as $branch => $components}
			{continueIf empty($components)}
			<a href="https://aitomic-docs.aitom.cz/{$branch}" class="mdl-navigation__link mdl-color-text--black">
				{$branch|upper}
			</a>

			{foreach $components as $menuName => $menuPackage}
				<a href="https://aitomic-docs.aitom.cz/{$branch}/{$menuName}" n:class="'mdl-navigation__link', !$iterator->last ? 'mdl-menu__item--full-bleed-divider'">
					{$menuPackage}
				</a>
			{/foreach}
		{/foreach}
		</nav>
	</div>
{/block}