{block #mdlsnackbar}
	<div id="mdl-flash-messages" class="mdl-js-snackbar mdl-snackbar">
		<div class="mdl-snackbar__text"></div>

		<button class="mdl-snackbar__action" type="button"></button>
	</div>
{/block}