{contentType application/css}

body {
    background: #f5f2f0;
}

blockquote, ol, p, table, ul {
    font-size: 16px;
    line-height: 1.6;
}

.mdl-tabs__tab,
.mdl-layout__tab {
    text-transform: inherit;
}

.mdl-layout__tab.is-active {
    background-color: rgba(0, 0, 0, .2);
}

.mdl-layout__tab.is-active:after {
    display: none !important;
}

.mdl-layout__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    scroll-behavior: smooth;
}

.mdl-layout__tab-panel {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
}

.mdl-layout__tab-panel--preview {
    background: #fff;
    padding: 10px;
}

.mdl-layout__tab-panel pre[class*=language-] {
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
}

.material-icons {
    vertical-align: middle;
}

.mdl-layout__drawer-button .material-icons {
    vertical-align: initial;
}

.mdl-component-title {
    color: #fff;
    font-size: 20px;
}

.mdl-component-title:link {
    text-decoration: none;
}

.mdl-snackbar__text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.mdl-snackbar__action:empty {
    display: none;
}

.mdl-dialog {
    max-height: 100%;
    max-width: 90%;
    overflow: auto;
    width: 480px;
}

.mdl-dialog p,
.mdl-dialog ol,
.mdl-dialog ul,
.mdl-dialog pre {
    font-size: 14px;
}

.mdl-dialog pre {
    overflow: auto;
}

.mdl-dialog code[class*=language-],
.mdl-dialog pre[class*=language-] {
    color: rgba(0, 0, 0, .54);
}

.mdl-dialog ol {
    counter-reset: ol;
    list-style: decimal;
    margin-left: 15px;
}

.mdl-dialog ol > li:before {
    display: none;
}

.mdl-aitom {
    margin-left: auto;
}

.mdl-aitom svg {
    color: #fff;
    display: block;
    height: 20px;
    margin: 6px 4px;
}

.mdl-description-card {
    background: #f1f1f1;
    margin-bottom: 30px;
    max-width: 100%;
    min-height: 0;
    width: 600px;
}

.mdl-listing-body .mdl-layout__container {
    height: auto;
    position: relative;
}

.mdl-listing-body .mdl-layout {
    min-height: 100vh;
    overflow: visible;
}

.mdl-listing-body .mdl-layout__drawer,
.mdl-listing-body .mdl-layout__obfuscator {
    position: fixed;
}

.mdl-listing-body .mdl-layout__drawer {
    z-index: 6;
}

.mdl-listing-body .mdl-layout__header {
    position: sticky;
    top: 0;
}

.mdl-listing-body .mdl-layout__drawer-button,
.mdl-listing-body .mdl-aitom {
    position: fixed;
    z-index: 5;
}

.mdl-listing-body .mdl-aitom {
    right: 40px;
    top: 16px;
}

.mdl-example {
    border: 3px solid #f7f7f9
}

.mdl-example > .container,
.mdl-example > .container-fluid {
    margin-top: 25px
}

.mdl-example > .mdl-example-inner {
    margin: 25px
}

.mdl-code,
.mdl-example pre {
    background: #f7f7f9;
    margin: 25px 0 0;
    padding: 25px
}

.mdl-highlight {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15);
}